/* 
  Sets margin for entire website to 0 so header fits snugly at the top 
*/
* {
  margin: 0;
}
/* 
  Sets the font family and background colour to #121212 for the whole webpage 
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
}
/* 
  changes the colour of main heading to rgba(255, 255, 255, 0.87),
*/
h1 {
  color: rgba(255, 255, 255, 0.87);
}
/* 
  Makes the text colour rgba(255, 255, 255, 0.6), font size 24 pixels and 
  adds 20 pixels of padding for all paragraph tags.
*/
p {
  color: rgba(255, 255, 255, 0.93);
  font-size: 24px;
  padding: 20px;
}
/* 
  Fixes the nav bar's position so it stays at the very top of the webpage,
  makes the width 100% the width of the webpage, adjusts the z-index so the
  header goes over the webpage's other content and makes the header's background
  colour #1c1c1c.
*/
header {
  background-color: rgb(27, 27, 27);
  position: fixed;
  width: 100%;
  z-index: 1;
}
/* 
  Makes the nav buttons float to the left of the header, removes the underline
  nav buttons have to make it look more clean, makes text colour rgba(255, 255, 255, 0.87),
  alligns the button's text to the center of the button, adds 23 pixels of padding and 
  makes the font size 17 pixels.
*/
nav a {
  float: left;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.96);
  text-align: center;
  padding: 23px;
  font-size: 17px;
}
/* 
  gradually lightens nav button's background colour to color: rgba(255, 255, 255, 0.87)
  and darkens the button's text over 0.5 seconds when a nav button is hovered over 
*/
nav a:hover {
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0.96);
  color: #181818;
}
/* 
  displays title of the webpage as an inline element to make 
  it able appear on the same line as nav buttons, floats title to the right
  of the header, changes its text colour to color: rgba(255, 255, 255, 0.87), 
  adds 15 pixels of padding and adjusts font size to 30 pixels
*/
#nav-bar-title {
  float: right;
  display: inline;
  color: rgba(255, 255, 255, 0.96);
  padding: 15px;
  font-size: 30px;
}
